.maincontent {
  margin-top: 100px;
  margin-left: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}
.infocontainer {
  margin: 5rem 2rem;
}
.header {
  color: white;
}
.line {
  background: #1bf8f8;
  height: 0.2rem;
  width: 8rem;
}
@media (max-width: 700px) {
  .line {
    display: none;
  }
  .infocontainer {
    max-width: 100%;
  }
  .maincontent {
    margin-top: auto;
    margin-left: 10%;
    display: flex;
  }
}
